@font-face {
    font-family: 'reloadalt-regularuploadedfile';
    src: url('../css/reload_alt_regular-webfont.woff2') format('woff2'),
         url('../css/fonts/reload_alt_regular-webfont.ttf') format('truetype'),
         url('../css/fonts/reload_alt_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'reloadalt-mediumuploaded_file';
    src: url('../css/fonts/reload_alt_medium-webfont.woff2') format('woff2'),
         url('../css/fonts/reload_alt_medium-webfont.ttf') format('truetype'),
         url('../css/fonts/reload_alt_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotobold';
    src: url('../assets/themes/pivot/style/fonts/roboto-bold.eot');
    src: url('../assets/themes/pivot/style/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/themes/pivot/style/fonts/roboto-bold.woff2') format('woff2'),
         url('../assets/themes/pivot/style/fonts/roboto-bold.woff') format('woff'),
         url('../assets/themes/pivot/style/fonts/roboto-bold.ttf') format('truetype'),
         url('../assets/themes/pivot/style/fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'fontawesomeregular';
    src: url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.eot');
    src: url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.woff2') format('woff2'),
         url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.woff') format('woff'),
         url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.ttf') format('truetype'),
         url('../assets/themes/pivot/style/fonts/fontawesome-webfont-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ralewaybold';
    src: url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.eot');
    src: url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.woff') format('woff'),
         url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../assets/themes/pivot/style/fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'exo_2medium';
    src: url('../css/fonts/exo2-medium-webfont.woff2') format('woff2'),
         url('../css/fonts/exo2-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ralewaymedium';
    src: url('../assets/themes/pivot/style/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../assets/themes/pivot/style/fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'exo_2medium';
    src: url('../fonts/exo2-medium-webfont.woff2') format('woff2'),
         url('../fonts/exo2-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'exo_2light';
    src: url('../fonts/exo2-light-webfont.woff2') format('woff2'),
         url('../fonts/exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}