#slider-block{height:600px;}
.container-slider{width:100% !important;position:relative;padding:0;max-height:600px !important;overflow:hidden;}
.tp-rightarrow,.tp-leftarrow{display:block;float:left;width:48px;height:48px;font-size:14px;text-align:center;line-height:48px;color:#fff;margin-left:2px;position:absolute;z-index:100;cursor:pointer;top:50%;margin-top:-24px;border-radius:10%;border:1px solid;-webkit-transition:all linear .2s;-moz-transition:all linear .2s;-o-transition:all linear .2s;-ms-transition:all linear .2s;transition:all linear .2s;color:#FFF;border-color:#fff;background:#009fe3;}
.tp-rightarrow{right:24px;}
.tp-rightarrow:before{content:"\f105";font-family:FontAwesome;}
.tp-leftarrow{left:24px;}
.tp-leftarrow:before{content:"\f104";font-family:FontAwesome;}
.tp-rightarrow:hover,.tp-leftarrow:hover{color:#fff;border-color:#fff;background:#4f2e79}

.no-touch .animated,.no-touch .animated-start{opacity:0}
.no-touch .animated-hover{opacity:1 !important}

.portfolio-items{list-style:none}
.portfolio-items .one-third,.portfolio-items .one-fourth,.portfolio-items .one-half{margin-bottom:0}
.portfolio-items li{display:block}
.filter-container{margin-bottom:30px;padding-bottom:8px;padding-top:8px;border-bottom:1px solid #39315e;}
.isotope{position:relatve;overflow:hidden}
.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity}
.filter-container span{display:inline;float:left;margin-right:15px;font-weight:700;text-transform:none;font-size:10px}
.filters{font-size:15px;margin-left:0}
.filters li{line-height:16px;margin-right:20px;display:inline}
.filters .current{color:#399;}
.filters li a{font-size:14px;color:#fff;text-transform:none;-webkit-transition:background-color .2s linear;-moz-transition:background-color .2s linear;-o-transition:background-color .2s linear;-ms-transition:background-color .2s linear;transition:background-color .2s linear; text-decoration:none;}